body {
    background-color: white;
}

.registration-form {
    background-color: #b3e0ff;
    margin: auto;
    margin-top: 2rem;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: white;
  }
  
  #registration-title {
    padding: 1rem;
  }